antiword
git
graphviz
lib32z1-dev
libxml2-dev
libxslt-dev
nginx
postgresql
postgresql-contrib-9.3
postgresql-server-dev-9.3
python-dev
python-pdfminer
python-pip
python-software-properties
python-virtualenv
r-base
r-base-dev
rabbitmq-server
wget
software-properties-common
unrtf 

